{% extends "resource_base.html" %}
{% block subcontent %}
<div class="well well-lg">业务线管理</div>
<form action="/resource/business_add/" method="post">
	<div class="input-group">
  		<span class="input-group-addon">*</span>
  		<input type="text" class="form-control" name="business_name" placeholder="NAME" style="width:200px;" maxlength=15>
  	</div>
  	<br>
<div class="input-group">
  		<span class="input-group-addon">*</span>
  		<input type="text" class="form-control" name="business_owner" placeholder="OWNER" style="width:200px;" maxlength=6>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="business_phone" placeholder="PHONE" style="width:200px;" maxlength=10>
</div>
<br>
<!--  
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="business_bussiness" placeholder="BUSSINESS" style="width:200px;" maxlength=20>
</div>
-->
<br>
<button type="submit" class="btn btn-default btn">
  		<span class="glyphicon glyphicon-plus"></span> 添加
</button>
{% csrf_token %}
</form>
{% endblock %}