{% extends "resource_base.html" %}
{% block subcontent %}

<div class="well well-lg">数据库管理</div>
<form action="/resource/database_detail/" method="post">
<input type="hidden" name="database_id" value='{{ database.id }}' >
<input type="hidden" name="type" value='mod' >
<div class="input-group">
  		<span class="input-group-addon">*</span>
  		<input type="text" class="form-control" name="database_name" placeholder='NAME' style="width:200px;" maxlength=20 value='{{ database.name }}' readonly= {{ readonly }}>
	<span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="database_owner"  placeholder='OWNER' style="width:200px;" maxlength=20 value='{{ database.owner_name }}' readonly= {{ readonly }}>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="database_ip"  placeholder='IP' style="width:200px;" maxlength=2 value='{{ database.ip }}' readonly= {{ readonly }}>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="database_port"  placeholder='PORT' style="width:200px;" maxlength=2 value='{{ database.port }}' readonly= {{ readonly }}>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="database_level"  placeholder='LEVEL' style="width:200px;" maxlength=2 value='{{ database.level }}' readonly= {{ readonly }}>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="database_business" placeholder='BUSINESS' style="width:200px;" maxlength=20 value='{{ database.business }}' readonly= {{ readonly }} >
  <span class="input-group-addon">*</span>
  <input type="datetime" class="form-control" name="database_online" placeholder='ONLINE_DATE' style="width:200px;" maxlength=20 value='{{ database.online_date|date:"Y-m-d H:i:s" }}' readonly= {{ readonly }} >

</div>
<br>
<button type="button" class="btn btn-default btn" onclick="change_readonly('all')">
  		<span class="glyphicon glyphicon-wrench"></span>编辑
</button>
<button type="submit" class="btn btn-default btn" id='commit' disabled="disabled">
  		<span class="glyphicon glyphicon-ok"></span> 提交
</button>

{% csrf_token %}
</form>
<br>
<form action="/resource/database_detail/" method="post">
	<input type="hidden" name="database_id" value='{{ database.id }}' >
	<input type="hidden" name="type" value='del' >
	
	<button type="submit" class="btn btn-default btn">
  		<span class="glyphicon glyphicon-trash"></span> {{ stat_action }}线数据库
	</button>
	{% csrf_token %}
</form>
<script>
function change_readonly(id){
	if (id == 'all')
	{
	    var arrAll=document.all;  
	    for (i=0;i <arrAll.length;i++)  
	    	arrAll[i].readOnly= false		
	}
	var btn_submit=document.getElementById("commit");  
    btn_submit.disabled='';
}
</script>
{% endblock %}
