{% extends "resource_base.html" %}
{% block subcontent %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
            	<a href	="/resource/server">服务器 <span class="badge ">{{ count.server }}</span></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            	<a href	="/resource/instance">实例 <span class="badge ">{{ count.instance }}</span></a>
              	
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            	<a href	="/resource/database">数据库 <span class="badge ">{{ count.database }}</span></a>              
          
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            	<a href	="/resource/business">业务线 <span class="badge">{{ count.business}}</span></a>              
            </div>
          </div>
  <!--            <ul class="nav nav-pills nav-stacked">
  				<li class="active">
    				<a href="#"><span class="badge pull-right">42</span>warning</a>
  				</li>	
			</ul>
-->
{% endblock %}